/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/******************************************
/* LAYOUT
/*******************************************/

/******************************************
/* Main Page Navegation Bar
/*******************************************/

#mainContainer{
  color: white;
  padding: 0 30px;
  height: 750px;
  width: 100%;
  background: url("https://i.ibb.co/bFPwB94/pexels-max-fischer-5211463.jpg") no-repeat center/cover;
}

#MainNavBar{
  display: flex;
  align-items: center;
  justify-content: space-between;
   /* border: 2px solid purple; */
}

#MainNavBar ul {
  display: flex;
  list-style: none;
}

#MainNavBar a{
  display:flex;
  text-decoration: none;
  color: white;
  margin: 0 50px 0 20px;
  padding: 40px 20px;
}

#MainNavBar img{
  width: 150px;
  margin-top: 20px;
  border-radius: 50%;
}

#intro .container-intro{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  margin-top: 100px;
  padding: 0 20px;
}

#intro .container-intro h1{
  font-size: 60px;
}

#intro button{
  margin: 50px 0;
  padding: 10px;
  cursor:pointer;
  border-radius: 5px;
  background-color: rgba(147,159, 182, 1);
  color: white;
  font-size: 20px;

}

#intro button:hover{
  opacity: 0.9;
}

#services{
  display: flex;
  height: 75vh;
}

.service-img{
  height: 100%;
  width: 50%;
  background: url("https://i.ibb.co/4MJjmkF/pexels-julia-m-cameron-4143798.jpg") no-repeat center/cover;
}

/******************************************
/* Navegation Bar
/*******************************************/

#navBar{
  display: flex;
  justify-content: space-between;
  align-items:center;
  background: rgba(147,159, 182, 1);
  color: white;
  /* height: 100px; */
  padding: 0 30px;
}

#navBar a:hover{
  color: rgba(57,70, 89, 1);
  background: rgba(180,186, 196, 1);
}

#navBar ul {
  display: flex;
  list-style: none;
}

#navBar a{
  display:flex;
  text-decoration: none;
  color: white;
  margin: 0 50px 0 20px;
  padding: 40px 20px;
}

#navBar img{
  /* border: 3px solid black; */
  width: 100px;
  border-radius: 50%;
}

/******************************************
/* services
/*******************************************/

#services{
  display: flex;
  justify-content: center;
  height: 75vh;
  width: 100%;
  background: lavender;
  /* border: 2px solid blue; */
}

#services .service-img{
  display: flex;
  /* flex-basis: 100%; */
  height: 100%;
  width: 50%;
  /* object-fit: cover; */
  background: lavender;
    /* border: 2px solid orange; */
  /* background: url("https://i.ibb.co/4MJjmkF/pexels-julia-m-cameron-4143798.jpg") no-repeat center/cover; */
}

#services .service-img img{
  /* display: inline-block; */
  /* width:fit-content; */
  display: inline-block;
  margin: 30px 50px 30px 30px;
  /* width: 100%; */
  max-width: 100%;
  /* place-items: center; */
  /* border: 2px solid red; */
  /* width:min-content; */
  /* object-fit: cover; */
 
}

#services .service-cont{
  display: flex;
  justify-content: center;
  align-items: center; 
  /* flex-basis: 100%;
  /* margin: 0 auto; */
  margin: 30px;
  width: 50%;
  /* border: 2px solid pink; */
}

#services .service-cont .service-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px;
  padding: 20px;
  height: 100%;
  width: 100%;
  color:rgb(64, 70, 78);
  border-radius: 5px;
  box-shadow: 10px 10px 30px rgba(0,0,0,0.1);
  background-color: white;
  /* border: 2px solid purple; */
}

#services .services-h2{
  padding: 20px;
}

#services .services-list li{
  padding: 10px;
  margin: 15px;
}

#contanct-info{
  display: flex;
  width: 100%;
  height: 25vh;
}

#contanct-info .box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 33.3%;
  height: 100%;
  color:rgba(147,159, 182, 1);
}

#contanct-info h3, ion-icon{
  padding: 15px;
}

#main-footer{
  text-align: center;
  background:rgb(64, 70, 78);
  color: whitesmoke;
  padding: 15px;
  height: 80px;
}

/* about */

#about-info {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}


#about-info .about-img{
  background: url("https://i.ibb.co/7gk6zX7/Screenshot-2023-06-08-at-3-29-05-PM.png") no-repeat center/cover;
  height: 500px;
  width: 300px;
  margin: 50px;
  border-radius: 50%;
  
}

#about-info .about-text{
  width: 50%;
  margin: 50px;
  padding-top: 30px;
  border-radius: 5px;
  box-shadow: 10px 10px 30px rgba(0,0,0,0.1);
  /* border: 2px solid orange; */
}

#about-info p{
  margin: 40px;
}

#about-info h1{
  font-size: 30px;
}

#education-info{
  background: url("https://i.ibb.co/R75yN6Z/pexels-bhargava-marripati-1569012.jpg") no-repeat center/cover;
  width: 100%;
  height: 75vh;
}


#education-cont {
  display: flex;
  justify-content: center;
  align-items: center;

}

#education-cont .institution{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(210,215, 219, 1);
  opacity: 0.9;
  margin: 10px 30px 10px 0;
}

#education-cont span{
  margin: 0 15px;
}

#education-cont img{
  width: 200px;
}

#education-cont .education-hedding{
  display: flex;
  justify-content: center;
  background-color: rgba(210,215, 219, 1);
  opacity: 0.9;
  margin: 40px 40px 0;
}

#contact{
  display: flex;
  height: 75vh;
  /* flex-basis: 100%;
  flex: 1; */
}

#contact .contact-img{
width: 50%;
}

#contact .contact-cont{
  width: 50%;
}

#contact img{
  width:100%;
}



/******************************************
/* MOBILE
/*******************************************/

@media(max-width: 768px){
  #navBar{
    flex-direction: column;
    align-items: center;
  }
  #navBar img{
    margin-top: 20px;
  }

  #about-info{
    flex-direction: column;
 
  }

  #about-info .about-img{
    margin: auto;
    margin-top: 30px;
  }

  #about-info .about-text{
    width: auto;
  }
  #education-info{
    height: auto;
    align-items: center;
  }

  #education-cont{
    flex-direction: column;
    align-items: center;
    margin-left: 30px;
  }

  #contact{
    flex-direction: column;
 
  }

}